.completeCV{
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
}

.completeCV-editButton{
    display: flex;
    justify-content: space-between;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.completeCV-editButton button{
    margin-right: 7rem;
    width: 70px;
    align-self: center;
}

.completeCV-generalInfo,
.completeCV-educationInfo{
    margin-top: 50px;
}

.completeCV-generalInfo,
.completeCV-educationInfo,
.completeCV-practiceInfo{
    border:4px solid #c7adad;
    padding: 5px;
}

.completeCV-generalInfo h2,
.completeCV-educationInfo h2,
.completeCV-practiceInfo h2{
    text-align: center;
    margin-top:0;
}



.completeCV-generalInfo{
    grid-column-start: 1;
    grid-column-end: 1;
}


.completeCV-practiceInfo{
    grid-column-start: 2; 
}

.completeCV-generalInfo div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.educationInfo-containerBox{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.practiceInfo-containerBox{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.educationInfo-singleBox,
.practiceInfo-singleBox{
    border:3px solid #c7adad;
    padding:5px;
    text-align: center;
}

