.completeCV-container{
    display: grid;
    grid-template-rows: 30px 1fr 1fr;
    grid-template-columns: 1fr 2fr;
}

.completeCV-editButton{
    grid-row-start: 1;
    grid-row-end: 1;
}

.completeCV-generalInfo{
    grid-column-start: 1;
    grid-column-end: 1;
}

.completeCV-educationInfo{

}

.completeCV-practiceInfo{
    grid-column-start: 2; 
}

.completeCV-generalInfo div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.completeCV-editButton {
    display: flex;
    justify-content: flex-end;
    margin-right: 7rem;
}