*{
    border:2px solid red;
    margin:5px;
}

.showCV{
    background-color: white;
    width: 100%;
    min-height: 100vh;
    color: black;
    display: flex;
    padding: 70px 0 70px 0;
}

            /* SHOWCV LEFT */

.showCV__left{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showCV__left__phone,
.showCV__left__email,
.showCV__left__link{
    display: flex;
}

.showCV__left__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.showCV__left__img{
    width: 40%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


            /* SHOWCV LEFT END */


            /* SHOWCV RIGHT */



.showCV__right{
    width: 70%;
}

            /* SHOWCV RIGHT END */


.showCV__separator{
    border:1px solid black;
}