li, div{
    display: inline-block;
}

/* *{
    border:2px solid red;
}
 */
.showCV{
    background-color: #d3d3d3;
    color:black;
    width: 100vw;
    min-height: 100vh;
    font-weight: bold;

}

.showCV__mainContainer{
    background-color: #e9e9e9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 0;
    width: 80%;
    border:5px solid #242424;
    margin-bottom: 50px;
}

.showCV__mainContainer ul{
    list-style-type: none;
    padding:0;
}

.showCV__mainContainer li{
    border-image:linear-gradient(to right, darkblue, darkorchid);
    border-width: 7px;
    border-style: solid;
    border-image-slice: 1;
}


.showCV__mainContainer ul > li:first-of-type{
    margin-top: 10px;
}


.showCV__generalInfo{
    grid-row-start: 1;
    grid-row-end: 2;
    border:5px solid #a7a7a7;
    margin-bottom: 0;
    margin-top:0;
}

.showCV__generalInfo div,.showCV__education div,.showCV__practice div{
    padding-right: 200px;
    margin: 10px 0 10px 0;
}

.showCV__education{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    border:5px solid #919191;
    margin-bottom: 0;
    margin-top: 0;
}

.showCV__practice{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    border:5px solid #656565;
    margin-top: 0;
    margin-bottom: 0;
}

.showCV__practice div{
    align-self: flex-start;
}

.editButton{
    background-color: #DDA853;
}

.title{
    padding-bottom: 50px;
    font-size: 32px;
    padding-right: 700px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}