.showCV{
    background-color: white;
    color:black;
    width: 100vw;
    min-height: 100vh;
    font-weight: bold;

}

.showCV__mainContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    border:5px solid magenta;
    margin-bottom: 50px;
}

.showCV__generalInfo{
    grid-row-start: 1;
    grid-row-end: 2;
}

.showCV__education{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
}

.showCV__practice{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.editButton{
    background-color: #DDA853;
}

.title{
    padding-bottom: 50px;
    font-size: 32px;
    padding-right: 500px;
}