.main_container{
   display: flex;
   justify-content: center;
   gap: 50px;
}


.main_container section{
    margin: 0 0 10px 0px;
}

.main_container form{
    display: flex;
    flex-direction: column;
}

