.main_container{
   display: flex;
   justify-content: center;
   gap: 50px;
}


.main_container section{
    border:6px solid #aaddc8;
    border-radius: 10px;
    margin: 0 0 10px 0px;
    padding:5px;
}

.main_container form{
    display: flex;
    flex-direction: column;
}


input{
    border:1px solid #c7adad;
    border-radius: 5px;
    outline: none;
}

