.main_container{
   display: flex;
   justify-content: center;
   gap: 50px;
}


.main_container section{
    border:6px solid #aaddc8;
    border-radius: 10px;
    margin: 0 0 10px 0px;
    padding:5px;
}

.main_container form{
    display: flex;
    flex-direction: column;
}


input{
    border:1px solid #c7adad;
    border-radius: 5px;
    outline: none;
}


.componentButtons{
    display: flex;
    gap: 10px;
}

.componentButtons button{
    width: 30%;
    font-size:small;
}

button{
    border-radius: 5px;
    font-weight:550;
    outline: none;
    border: 1px solid #c7adad;
    background-color: #afce8c8e;
}