/* Link for color palette : https://colorhunt.co/palette/c0e1d2e5eee4f6f4e8dc9b9b */

@font-face {
    font-family: handFont;
    src: url(./fonts/LobsterTwo-Regular.ttf);
}

body{
    background-color: #e5eee4;
    font-family: handFont;
    color: rgb(51, 49, 49);
}

